body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.first-title {
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em
}

.team-title {
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  color: #2e2f42;
}

ul, ol {
  list-style-type: none;
}


button {
  cursor: pointer;
}

.logo {
  font-family:"Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px ;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.path-of-logo {
  color: #2e2f42;
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.02em;

}

.header-list:hover {
  color: #404bbf;
}

.header-list:focus{
  color: #404bbf;
 
}

.header-contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contacts:hover {
  color: #404bbf;
}

.header-contacts:focus {
  color: #404bbf;
}

.first-section-color {
  background-color: #2e2f42;
}

.service-button {
  color: #fff;
  font-weight: 500 ;
  line-height: 1.5;
  letter-spacing: 0.04em;
  
}

.service-button:hover {
  background: #404bbf;
}

.service-button:focus {
  background: #404bbf;
}

.services-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;

}

.services-text {
  font-size: 16px;
  color: #434455;
  letter-spacing: 0.02em;
}

.team-group-list {
  background-color: #FFFFFF;
}

.team-group-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-group-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-text {
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-block {
  background-color: #2e2f42;
}
